* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}

body {
    background-color:  hsl(217, 54%, 11%);
    font-size:18px;
    color:hsl(178, 100%, 50%);
}

header {
    width:90%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 800px;;
}

.container {
    width:80%;
    display:flex;
    flex-direction: column;
    margin:auto;

}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 30px;
    width:370px;
}

.image {
    display:flex;
    justify-content: center;
    align-items: center;
    height:300px;
    border-radius: 40px;
    margin-top:20px;
    margin-bottom:20px;

}

.image .main {
    height:300px;
    border-radius: 40px;
    width:100%;
    opacity: 100;
    filter: blur(2px);
}

.image .main:hover {
    filter: blur(0px);
}

.maintext {
    margin-bottom:10px;

}

.maintext h1 {
    margin-bottom:15px;
    font-size: 25px;
}

.maintext p {
    color:hsl(215, 51%, 70%);
    font-size:19px;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;;
    margin-bottom: 20px;

}

 .pricetag {
    display:flex;


 }

.pricetag h1 {
    margin-left: 5px;
    font-size: 20px;
}

.timer {
    display: flex;

}

.timer p {
    margin-left:5px;
}

.creator {
    display: flex;
    margin-top:20px;
    margin-bottom: 20px;
    border-top:2px solid hsl(215, 32%, 27%); 
    padding-top:15px;
}

.creator img {
    width:45px;
    height: 45px;
    border:3px solid white;
    border-radius: 50%;
}

.creator p {
    align-self: center;
    margin-left:15px;
    color:hsl(215, 51%, 70%);

}

span {
    color:hsl(178, 100%, 50%);
}
